h1{
    text-align: center;
    /*visibility: hidden;*/
}

#node12AM:hover {
    fill: crimson;
  }

/*svg text {
    display: none;
}

svg g:hover text {
    display: block;
}
*/
/*
h1.title:hover {
    visibility: visible;
  }
  */